<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Weather Travel App
        </div>
        <div class="holder city">
            <label for="city">Enter City</label>
            <input type="text" id="city" placeholder="enter city name">
        </div>
        <div class="holder Date">
            <label for="travelday">Travel Date</label>
            <input type="date" id="travelday" name="TravelDay">
        </div>
        <button id="generate" type="submit"> Generate </button>
        <div class="holder entry">
            <div class="title">City Data</div>
            <div id="entryHolder">
                <div id="country"></div>
                <div id="temp"></div>
                <div id="content"></div>
            </div>
        </div>
    </div>
</body>

</html>